{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<div class="max-w-4xl mx-auto px-4 py-8 flex flex-col gap-6 items-center justify-center">
    <h1 class="text-5xl font-bold text-gray-800 mb-4">About Us</h1>
    <p class="text-xl">Welcome to <a class="font-semibold text-yellow-400" href="/">Cardio Companion</a>, a platform created with the vision of bringing comprehensive health services to your fingertips. Developed by a passionate team of B.Tech students from KIIT, our project aims to address the growing need for accessible health-related information and tools that can empower individuals to take charge of their well-being.</p>

    <h2 class="text-3xl font-semibold text-gray-800 mb-3">Our Mission</h2>
    <p class="text-xl">In a world where health information is vast but not always accessible or understandable, we strive to break down these barriers by providing clear, reliable, and actionable health insights. Whether it's through the latest health news, tracking your BMI and understanding its implications, monitoring your pulse rate using just a webcam, or recommending exercises tailored to your health metrics, we're here to guide you towards a healthier lifestyle.</p>
</div>

{% endblock %}
