{% extends "base.html" %}

{% block title %}Terms{% endblock %}

{% block content %}
<h1 class="text-3xl font-semibold text-gray-800 mb-4">Terms and Conditions</h1>

    <div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6">
      <p class="mb-2"><strong>Last updated:</strong> 07/04/2024</p>
      <p class="mb-4">Welcome to Cardio Companion. Please read these Terms and Conditions carefully before using the <a class="text-yellow-400 font-bold" href="/">Cardio Companion</a> website operated by us.

        Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users, and others who wish to access or use the Service.</p>
  
      <h2 class="text-2xl font-semibold text-gray-800 mt-6 mb-4">1. Medical Advice Disclaimer</h2>
      <p class="mb-4">The content provided by Cardio Companion, including all text, graphics, images, and other material, is for informational purposes only and is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or another qualified health provider with any questions you may have regarding a medical condition.

        Never disregard professional medical advice or delay in seeking it because of something you have read on this Service. If you think you may have a medical emergency, call your doctor, go to the emergency department, or call emergency services immediately. Cardio Companion does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned on the Service.</p>
  
      <h2 class="text-2xl font-semibold text-gray-800 mt-6 mb-4">2. Use of the Service</h2>
      <p class="mb-4">Cardio Companion provides insights and tools related to health metrics such as BMI calculation, pulse rate monitoring, and personalized exercise recommendations. These tools are intended to support, not replace, the relationship that exists between a patient/site visitor and his/her existing physician.</p>
  
      <h2 class="text-2xl font-semibold text-gray-800 mt-6 mb-4">3. Limitation of Liability</h2>
      <p class="mb-4">Under no circumstances shall Cardio Companion or its affiliates, partners, suppliers, or licensors be liable for any indirect, incidental, consequential, special, or exemplary damages arising out of or in connection with your access or use of or inability to access or use the Service and any third-party content and services, whether or not the damages were foreseeable and whether or not Cardio Companion was advised of the possibility of such damages.</p>
  
      <h2 class="text-2xl font-semibold text-gray-800 mt-6 mb-4">4. Changes to the Terms and Conditions</h2>
      <p class="mb-4">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.

        By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.
      </p>
  
      <h2 class="text-2xl font-semibold text-gray-800 mt-6 mb-4">5. Contact Us</h2>
      <p>If you have any questions about these Terms, please contact us.</p>
    </div>
  
{% endblock %}
